# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# ML modeli i dataseti (preveliki za git)
ai/detection/models
datasets/
*.pt
*.onnx
*.tflite
ai/recognition/videos
ai/recognition/pictures
ai/recognition/face_database.json

# Model saved files
*_saved_model/
*.pb
*.npy

# Environment varijable
.env
.env.local

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Webapp
webapp/backend/unknown_clusters.json    
webapp/backend/cloudflared.deb

# Razno
*.csv
*.h5
.lgd-*
.claude/
*.deb
*txt